<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<a href="/addProduct">Add New Product</a>
<br>
<br>
<a href="/addCategory">Add New Category</a>
<form method="get" action="/products1">
  <label for="category">Select Category:</label>
  <select id="category" name="categoryId" onchange="this.form.submit()">
    <option value="">--Select Category--</option>
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
  </select>
</form>
<form method="get" action="/products1/search">
  <label for="search">Search Products:</label>
  <input type="text" id="search" name="query" placeholder="Enter product name or code">
  <button type="submit">Search</button>
</form>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Code</th>
    <th>Register Date</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productPage.content}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.code}"></td>
    <td th:text="${product.registerDate}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <a th:href="@{/products/view/{id}(id=${product.id})}">View</a>
      <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
      <a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

<div>
    <span th:if="${productPage.hasPrevious()}">
        <a th:href="@{/products1(page=${currentPage - 1})}">Previous</a>
    </span>
  <span>Page <span th:text="${currentPage + 1}"></span> of <span th:text="${productPage.totalPages}"></span></span>
  <span th:if="${productPage.hasNext()}">
        <a th:href="@{/products1(page=${currentPage + 1})}">Next</a>
    </span>
</div>
</body>
</html>